---
import SearchBar from '../components/SearchBar.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Blog">
	<div class="py-10 lg:py-16">
		<h1
			class="text-5xl lg:text-7xl uppercase font-bold bg-clip-text text-transparent bg-gradient-to-tr from-blue-500 to-green-500 text-center"
		>
			is <strong>[THAT]</strong> band skethy?
		</h1>
	</div>
	<div class="max-w-3xl mx-auto">
		<SearchBar />
	</div>
</Layout>

