---
import SearchBar from "../components/SearchBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Is [THAT] band sketchy?">
  <div class="py-10 lg:py-16">
    <h1
      class="bg-clip-text text-center text-5xl font-bold uppercase lg:text-7xl"
    >
		is 
		<strong
			class="bg-gradient-to-tr from-red-500 to-yellow-500 bg-clip-text text-transparent">
			[THAT]
		</strong> 
		band sketchy?
    </h1>
  </div>
  <div class="mx-auto max-w-3xl">
    <SearchBar />
  </div>
</Layout>
