---
import SearchBar from '../components/SearchBar.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Is [THAT] band sketchy?">
	<div class=" py-10 lg:py-16">
		<h1
			class="text-5xl lg:text-7xl uppercase font-bold bg-clip-text text-center"
		>
			is <strong class="bg-clip-text text-transparent bg-gradient-to-tr from-red-500 to-yellow-500">[THAT]</strong> band sketchy?
		</h1>
	</div>
	<div class="max-w-3xl mx-auto">
		<SearchBar />
	</div>
</Layout>

