---
import '@/styles/globals.css';

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Nebirous Blog" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900 text-white overflow-y-scroll">
    <div id="layout-wrapper" class="pt-40 px-8">
      <slot />
    </div>
  </body>
</html>

<script>
  const body = document.body;
  const wrapper = document.getElementById('layout-wrapper');

  window.addEventListener('openContactDialog', () => {
    body.classList.add('overflow-hidden');
    wrapper.classList.add('pr-[var(--scrollbar-width)]');
  });

  window.addEventListener('closeContactDialog', () => {
    body.classList.remove('overflow-hidden');
    wrapper.classList.remove('pr-[var(--scrollbar-width)]');
  });

  // Set scrollbar width as CSS variable
  document.documentElement.style.setProperty('--scrollbar-width', `${window.innerWidth - document.documentElement.clientWidth}px`);
</script>
